main{
    margin-top: 82px;
    height: 800px;
}
main img{
    width: 100%;
    position: absolute;
    opacity: 0.5;
}
main form{
    position: relative;
    width: 500px;
    height: 450px;
    float: right;
    margin-top: 200px;
    margin-right: 400px;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0 ,0,0.3);
}

h1{
    text-align: center;
   margin-top: 30px;
   margin-bottom: 40px;
    color: brown;
}
main input{
   
    width: 450px;
    height: 30px;
    border-radius: 5px;
    border: none;
    border: solid 1px brown;
    margin: 10px 25px;
}
main label{
    margin-left: 25px;
    color: darkred;
    font-size: 20px;
}
main button{
    width: 400px;
    margin: 10px 50px;
    height: 40px;
    border: none;
    background-color: crimson;
    border-radius: 10px;
    color: white;
}
main button:hover{
    background-color: bisque;
    color: yellowgreen;
}
main button a{
    margin-right: 135px;
    text-decoration: none;
    color: white;
}
main a{
    float: right;
    margin-right: 50px;
}
main a:hover{
    color: red;
    text-decoration: none;
}
 main button a:hover{
    color: blue;
    
}



